* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body, html {
    height: 100%;
    font-family: 'Raleway', sans-serif;
}
p {
    font-weight: 100;
    font-size: 1.1em;
    line-height: 1.2;
}
footer {
    width: 100%;
    height: 50px;
    color: white;
    background-color: lightgrey;
}
.banner {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner__text {
    font-size: 5em;
    font-weight: 200;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1.5px solid white;
    border-top: 1.5px solid white;
    border-radius: 3%;
    text-shadow: 1px 3px 30px #000;
}
.banner__grid img {
    max-width: 300px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar {
    width: 100%;
    text-align: right;
}
.navbar ul {
    padding: 5px;
    margin: auto;
    height: 100px;
}
.navbar li {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 200;
    list-style: none;
    padding: 4px 16px;
    margin-top: 5px;
}
.navbar a {
    text-decoration: none;
    color: white;
}
/* .navbar li:hover {
    color: white;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-radius: 5px;
} */
.banner__1 {
    background-image: linear-gradient(rgba(75, 72, 72, 0.7), rgba(156, 19, 19, 0.386)), url("../assets/work.jpeg");
}
.banner__2 {
    background-image:linear-gradient(rgba(75, 72, 72, 0.7),rgba(243, 122, 9, 0.808)), url("../assets/woodside.jpeg");
}
.banner__3 {
    background-image:linear-gradient(rgba(75, 72, 72, 0.7),rgba(29, 167, 221, 0.774)), url("../assets/anvil.jpeg");
}
.footer__content {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}
.grid__first {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: auto;
}
.grid__third {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: auto;
}
.top__scroll {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 500;
    display: none;
    text-decoration: none;
    color: #bbb6b5cc;
    font-size: 70px;
    }
.top__scroll i {     
    font-size: 60px; 
    }
.grid__first--Col img {
    border-radius: 50px;
    width: 300px;
}
.grid__first--Col {
    max-width: 80%;
    margin: 1em;
}


/*======= MEDIA QUERIES =========*/
@media (max-width: 768px) {
    .grid__first {
        flex: 100%;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    .banner__text {
        display: none;
    }
    .banner__grid img {
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
}    
@media (max-width: 412px) {
    .banner {
        background-attachment: scroll;
    }
    .grid__first {
        flex: 100%;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
}