/*========= BLOCKS =============*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body, html {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    color: rgb(90, 90, 90);
}
p {
    font-weight: 100;
    font-size: 1.1em;
    line-height: 1.7em;
}
footer {
    width: 100%;
}

/*========= ELEMENTS ===========*/

.container {
    max-width: 80%;
    margin: auto;
}
.banner {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner__text {
    font-size: 5em;
    font-weight: 200;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1.5px solid white;
    border-top: 1.5px solid white;
    border-radius: 3%;
    text-shadow: 1px 3px 30px #000;
}
.banner__grid img {
    max-width: 300px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar {
    text-align: right;
}
.social {
    text-align: center;
}
.navbar ul,
.social ul {
    padding: 5px;
    margin: auto;
    height: 50px;
}
.navbar li, 
.social li {
    display: inline-block;
    font-size: 1.6em;
    font-weight: 200;
    list-style: none;
    padding: 4px 16px;
    margin-top: 5px;
    transition: border-bottom .45s ease-in-out;
    -moz-transition: border-bottom .45s ease-in-out;
    -webkit-transition: border-bottom .45s ease-in-out;
}
.navbar a {
    text-decoration: none;
    color: white;
}
.navbar li:hover {
    border-bottom: 1px solid white;
}
.social a {
    text-decoration: none;
    color: rgb(90, 90, 90);
}
.social li:hover {
    opacity: 0.8;
    border-bottom: 1px solid rgba(156, 19, 19, 0.686);
}
.banner__1 {
    background-image: linear-gradient(rgba(75, 72, 72, 0.7), rgba(156, 19, 19, 0.386)), url("../assets/work.jpeg");
}
.banner__2 {
    background-image:linear-gradient(rgba(75, 72, 72, 0.7),rgba(243, 122, 9, 0.808)), url("../assets/woodside.jpeg");
    height: 50vh;
}
.banner__3 {
    background-image:linear-gradient(rgba(75, 72, 72, 0.7),rgba(29, 167, 221, 0.774)), url("../assets/anvil.jpeg");
    height: 35vh;
}
.footer__content {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}
.grid__first {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: auto;
    height: auto;
    max-width: 85%;
}
.grid__second {
    align-items: center;
}
.grid__third {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
}
.top__scroll {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #bbb6b5cc;
    font-size: 70px;
}
.top__scroll i {     
    font-size: 60px; 
}
.contact {
    width: 350px;
    height: 400px;
    margin: auto;
    padding: 100px;
    background-color: rgb(150,150,150);
    color: white;
    border-radius: 10px;
    box-shadow: 3px 7px 15px rgba(0,0,0,0.5);
}
.contact img {
    margin: auto;
    width: 170px;
    height: 170px;
}
.contact label {
    padding: 15px 0;
}
.contact input {
    margin: 3px 0;
    max-width: 90%;
}
.submit-btn {
    background: white;
    margin: 10px 0;
    padding: 5px;
    border-radius: 4px;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}
.submit-btn:hover {
    background: rgb(67, 197, 132);
    color: white;
    cursor: pointer;
}
.contactMap {
    width: 350px;
    height: 400px;
    margin: auto;
    border: 2px solid rgb(90, 90, 90);
    border-radius: 10px;
}
.contact__head h2 {
    text-align: center;
    margin: 30px 0;
    font-weight: 400;
    font-size: 1.8em;
}


/*========== MODIFIERS ===========*/

.grid__first--Col img {
    margin: 20px;
    border-radius: 50px;
    width: 300px;
}
.grid__first--Col {
    flex: 33%;
    align-content: center;
    margin: 1.1em;
    line-height: 1.5em;
}


/*======= MEDIA QUERIES =========*/
@media (max-width: 956px) {
    .grid__first,
    .grid__second,
    .grid__third {
    flex-direction: column;
    max-width: 100%;
    }
    .contact {
        margin-bottom: 20px;
    }
}
@media (max-width: 768px) {
    p {
        line-height: 1.5em;
    }
    .container {
        max-width: 100%;
    }
    .navbar ul {
        text-align: center;
    }
    .grid__first {
        flex: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0 30px;
        max-width: 100%;
    }
    .banner__text {
        display: none;
    }
    .banner__grid img {
        max-width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .contact {
        margin-bottom: 15px;
    }
}    
@media (max-width: 412px) {
    /* .banner {
        background-attachment: scroll;
    } */
    .grid__first {
        flex: 100%;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    .contactMap {
        width: 350px;
        height: 350px;
    }
}